*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body, html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}
.maindiv {
  text-align: center;
  background-color: black;
  width: 100vw;
  height: 100%;
  min-height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  cursor: pointer;
  border: 10px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
}
.mainp {
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;

  /*background: url("image.png") no-repeat center;*/
  /*background-size: cover;*/
  font-size: 4rem;
  font-family: "Mate SC", serif;
  font-weight: 900;
  user-select: none;
  /*padding-top: 2rem;*/
  /*padding-right: 40rem;*/
}
/* .mainp:focus {
  animation: tp;
  animation-duration: 1s;
  animation-fill-mode: backwards;
}
.mainp:active {
  animation: none;
} */

footer {
  position: fixed;
  bottom: 2rem;
  width: auto;
  height: 5vh;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  color: white;
  text-align: center;
  font-size: 1.4rem;
  font-family: "Mate SC", serif;
  user-select: none;
}

/* @keyframes tp {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
} */

@media screen and (max-width: 714px) {
  .mainp{
    font-size: 2rem;
    font-family: "Mate SC", serif;
    font-weight: 900;
  }

  footer {
    bottom:3.5rem;
    font-size: 1.2rem;
    font-family: "Mate SC", serif;

  }
}
@media screen and (max-width: 396px){
  .mainp {
    font-size: 1.5rem;
    font-family: "Mate SC", serif;
    font-weight: 900;
  }
  footer {
    font-size: 1rem;
    font-family: "Mate SC", serif;
bottom:4rem;
  }
}